<!-- <div class="placeholder" style="height: 50px"></div> -->
<div class="container">

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Map">
      <agm-map [latitude]="25.0343" [longitude]="121.532" [streetViewControl]="false" [zoom]="13" [minZoom]="13">
      <!-- <agm-map [latitude]="25.0343" [longitude]="121.532" [streetViewControl]="false" [zoom]="13" [minZoom]="13" [fitBounds]="mapBounds" (boundsChange)="onDragMap($event)"> -->
        <!-- <agm-marker animation="DROP" *ngFor="let car of carArray" [latitude]="car.location.geoLatitude" [longitude]="car.location.geoLongitude"> -->
        <agm-marker *ngFor="let car of carArray" (markerClick)="onClickMarker(info)" [latitude]="car.location.geoLatitude" [longitude]="car.location.geoLongitude">
          <agm-info-window #info>
            {{ car.name }}
            <br>
            <button mat-button (click)="onClickDetail(car.id)">Detail</button>
          </agm-info-window>
        </agm-marker>
        <agm-rectangle [north]="26" [south]="25.0718" [west]="121" [east]="122" [clickable]="false"></agm-rectangle>
        <agm-rectangle [north]="24.9968" [south]="24" [west]="121" [east]="122" [clickable]="false"></agm-rectangle>
        <agm-rectangle [north]="25.0718" [south]="24.996800" [west]="121" [east]="121.457" [clickable]="false"></agm-rectangle>
        <agm-rectangle [north]="25.0718" [south]="24.996800" [west]="121.607" [east]="122" [clickable]="false"></agm-rectangle>
      </agm-map>
    </mat-tab>
    <mat-tab label="List">
      <div class="tab-container">

        <div style="height: 10px"></div>
        <mat-radio-group class="radio-group"  [value]="filter" (change)="onClickRadio($event)">
            <mat-radio-button class="radio-button" value="all">All</mat-radio-button>
            <mat-radio-button class="radio-button" value="available">Available</mat-radio-button>
            <mat-radio-button class="radio-button" value="mine">My Cars</mat-radio-button>
        </mat-radio-group>
        <div fxLayout="row warp" fxLayoutAlign="space-around start">
        <!-- <div fxLayout="row" fxLayoutAlign="space-around start" *ngFor="let car of carArray" fxFill> -->
          <div fxFlex="400px" *ngFor="let car of displayCarArray" fxFill>
            <mat-card class="example-card"  style="width: 80%">
              
                <!-- <div fxflex="1 1 80%"> -->
                  <mat-card-header>
                    <div mat-card-avatar><mat-icon>directions_car</mat-icon></div>
                    <mat-card-title>{{ car.name }}</mat-card-title>
                    <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                      <mat-divider></mat-divider>
                      <br>
                      <h5>Condition: 123</h5>
                      <h5>Car Age: {{ car.age }}</h5>
                      <h5>Price: 100</h5>
                  </mat-card-content>
                  <mat-card-footer>
                    <button class="detail-button" mat-button color="primary" (click)="onClickDetail(car.id)" style="width: 100%">Show Details</button>
                  </mat-card-footer>
                <!-- </div> -->
                <!-- <div fxflex="1 0 100px" style="margin-left: auto; margin-right: 0; vertical-align: middle; background: lightgray"> -->
                    <!-- <button class="detail-button" mat-button color="primary" (click)="onClickDetail(car.id)">&#60;Detail&#62;</button> -->
                <!-- </div> -->
            </mat-card>
          </div>  
                  <!-- <mat-card-actions> -->
                <!-- </mat-card-actions> -->
            
          <!-- </div> -->
      </div>

      </div>
    </mat-tab>
  </mat-tab-group>

</div>
