<!-- <div class="placeholder" style="height: 50px"></div> -->
<div class="container">

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Map">
      <agm-map [latitude]="24.996800" [longitude]="121.457000" [streetViewControl]="false" [zoom]="14" (mapClick)="onAdd()">
        <!-- <agm-marker animation="DROP" *ngFor="let car of carArray" [latitude]="car.location.geoLatitude" [longitude]="car.location.geoLongitude"> -->
        <agm-marker *ngFor="let car of carArray" [latitude]="car.location.geoLatitude" [longitude]="car.location.geoLongitude">
          <agm-info-window>
            <button mat-button (click)="onClickDetail(car.id)">Detail</button>
            {{ car.name }}
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </mat-tab>
    <mat-tab label="List">
      <div style="height: 10px"></div>
      <mat-radio-group class="radio-group" [(ngModel)]="filter">
          <mat-radio-button class="radio-button" value="all">All</mat-radio-button>
          <mat-radio-button class="radio-button" value="available">Available</mat-radio-button>
          <mat-radio-button class="radio-button" value="rented-out">Rented Out</mat-radio-button>
      </mat-radio-group>
      <div *ngFor="let car of carArray">
        <mat-card class="example-card" *ngIf="shouldDisplay(car)">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>directions_car</mat-icon></div>
            <mat-card-title>{{ car.name }}</mat-card-title>
            <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
          </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <ul>
                <li mat-list-item>Info: {{ car.info }}</li>
                <li mat-list-item>Age: {{ car.age }}</li>
                <li mat-list-item>Price: {{ car.price }}</li>
                <li mat-list-item>Id: {{ car.id }}</li>
              </ul>
            </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button (click)="onClickDetail(car.id)">Detail</button>
            </mat-card-actions>
        </mat-card>

      </div>
    </mat-tab>
  </mat-tab-group>

</div>
