<div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFill>
  <div fxFlex="7 1 auto">
    <agm-map #map [latitude]="mapLatitude" [longitude]="mapLongitude" [streetViewControl]="false" [zoom]="mapZoom" (mapClick)="onClickMap($event, info)">
      <!-- <agm-marker  animation="DROP" [latitude]="targetLatitude" [longitude]="targetLongitude"> -->
      <agm-marker [latitude]="targetLocation.geoLatitude" [longitude]="targetLocation.geoLongitude">
        <agm-info-window #info>
          <button mat-button (click)="onClickDrive()">Drive</button>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div class="card-container" fxFlex="3 0 auto">
    <div *ngIf="!carArray.length">
      <h1>No Cars Available</h1>
    </div>
    <div *ngIf="carArray.length" style="margin-bottom: 10px">
      <mat-card *ngFor="let car of carArray; let i = index" [ngClass]="{'selected': i === selectedIdx}" (click)="onClickList(i)" style="margin-bottom: 10px">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>directions_car</mat-icon></div>
          <mat-card-title>{{ car.name }}</mat-card-title>
          <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- <ul>
            <li mat-list-item>Name</li>
            <li mat-list-item>location</li>
          </ul> -->
        </mat-card-content>
      </mat-card>  
    </div>
    <!-- <mat-selection-list>
      <mat-list-option *ngFor="let car of carArray">
        {{ car.name }}
      </mat-list-option>
    </mat-selection-list> -->
  </div>
</div>