<h2 mat-dialog-title>
  Register Account
</h2>

<mat-dialog-content class="post-form">
  <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput [(ngModel)]="name">
      <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
</mat-dialog-content>
  
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button color="primary" (click)="onConfirm()" style="margin-right: 0; margin-left: auto">Confirm</button>
</mat-dialog-actions>