<div class='container' fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
  <h1>TEST</h1>
  <!-- <mat-h2>Rent out your car!!!</mat-h2> -->
  <!-- <h1 class="md-display-3">Rent out your car</h1> -->
  <h3 class="mat-title ">Rent out your car</h3>
  <!-- <div fxFlex="100%"> -->
      <mat-form-field appearance="outline">
          <mat-label>車輛型號</mat-label>
          <input matInput placeholder="Placeholder">
          <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>詳細資料</mat-label>
          <input matInput placeholder="Placeholder">
          <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>車齡</mat-label>
          <input matInput placeholder="Placeholder">
          <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>出租價格</mat-label>
          <input matInput placeholder="Placeholder">
          <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
  <!-- </div> -->
    
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field><mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>