<div class='container' fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
  <h2 class="mat-title ">Rent out your car</h2>
    <mat-form-field appearance="outline">
        <mat-label>車輛型號</mat-label>
        <input matInput placeholder="" [(ngModel)]="carInput.name">
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
        <mat-label>詳細資料</mat-label>
        <input matInput placeholder="" [(ngModel)]="carInput.info">
    </mat-form-field> -->
    <mat-form-field appearance="outline">
        <mat-label>車輛類別</mat-label>
        <mat-select placeholder="類別" [(ngModel)]="carInput.type">
            <mat-option *ngFor="let type of carTypeOptions; let i = index" [value]="i">{{ type }}</mat-option>
        </mat-select>
        <!-- <input matInput placeholder="Placeholder" [(ngModel)]="carInput.type"> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>車齡</mat-label>
        <input type="number" matInput placeholder="" [(ngModel)]="carInput.age">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>出租價格</mat-label>
        <input type="number" matInput placeholder="" [(ngModel)]="carInput.price">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onRegister()">Register</button>
  </div>