<mat-dialog-content class="post-form">
  <h3>{{ car.name }}</h3>
  <h4>{{ car.type }}</h4>
  <mat-divider></mat-divider>
  <br>
  <h5>Car Age: {{ car.age }}</h5>
  <h5>Price: $ {{ car.price * 0.001}} ether / minute</h5>
  <h5>Condition: {{ car.damage > 0 ? 'Damaged' : 'Perfect' }}</h5>
  <h5>Deposit: $ {{ car.price * 0.001 * 50 }} ether</h5>
  <div *ngIf="car.ownerAddr !== address && car.renterAddr === address">
    <h5>Mileage: {{ car.oil }}</h5>
    <h5>Oil Fee: $ {{ car.oil * 1.0 / 100000 }} ether</h5>
  </div>
  <div class="slide-bar" *ngIf="car.ownerAddr !== address && car.ownerAddr === car.renterAddr">
    <mat-slider [min]="0" [max]="20" [step]="1" [value]="rentTime" (input)="onDragSlider($event)" style="width: 100%"></mat-slider>
    <h5>Rent for {{ rentTime }} minutes</h5>
    <h5 ></h5>
  </div>
</mat-dialog-content>
  
<mat-dialog-actions>
  <button class="action-button" mat-button mat-dialog-close color="warn">Close</button>
  <button class="action-button" mat-button 
    *ngIf="car.ownerAddr !== address && car.ownerAddr === car.renterAddr" 
    color="primary" (click)="onRent()" style="margin-right: 0; margin-left: auto"
    [disabled]="!rentTime">$ {{ (rentTime + 50) * car.price * 1.0 / 1000 }} Rent</button>
  <button class="action-button" mat-button 
    *ngIf="car.ownerAddr !== address && car.renterAddr === address" 
    color="primary" (click)="onReturn()" style="margin-right: 0; margin-left: auto">Return</button>
  <button class="action-button" mat-button 
    *ngIf="car.ownerAddr === address && car.renterAddr === address" 
    color="primary" disabled style="margin-right: 0; margin-left: auto">Own Car</button>
  <button class="action-button" mat-button 
    *ngIf="car.ownerAddr !== address && car.renterAddr !== address && car.ownerAddr !== car.renterAddr" 
    color="primary" disabled style="margin-right: 0; margin-left: auto">Rented Out</button>
</mat-dialog-actions>