<!-- <div class="placeholder" style="height: 50px"></div> -->
<div class="container">

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Overview">
        <div>
            <h3>Address: {{ userAddress }}</h3>
            <h3>Name: {{ userName }}</h3>
            <h3>Owned Cars: 10</h3>
            <h3>Rented Cars: 10</h3>
            <h3>Rented Out Cars: 10</h3>
            <button mat-raised-button (click)="onClickRegister()">Register</button>
        </div>
    </mat-tab>
    <mat-tab label="My Cars">

    </mat-tab>
    <mat-tab label="Map">
        <!-- <agm-map [latitude]="carLocations[0].latitude" [longitude]="carLocations[0].longitude" [streetViewControl]="false" [zoom]="14">
          <agm-marker *ngFor="let location of carLocations" [latitude]="location.latitude" [longitude]="location.longitude">
            <agm-info-window>
              <button mat-button (click)="onClickDetail(location.id)">Detail</button>
              {{ location.name }}
            </agm-info-window>
          </agm-marker>
        </agm-map> -->
    </mat-tab>
  </mat-tab-group>
  
</div>
  


