<!-- <div class="placeholder" style="height: 50px"></div> -->
<div class="container">
  <mat-card class="card">
        <mat-card-header style="height: 80px">
          <div class="icon" mat-card-avatar>
            <mat-icon [inline]="true">person</mat-icon>
          </div>
          <mat-card-title *ngIf="!userName.length" style="color: red">Not Registered</mat-card-title>
          <mat-card-title *ngIf="userName.length">{{ userName }}</mat-card-title>
          <mat-card-subtitle>{{ userAddressStripped }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <h3>Owned Cars: {{ numOwned }}</h3>
            <h3>Rented Cars: {{ numRented }}</h3>
            <h3>Rented Out Cars:  {{ numRentedOut }}</h3>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="!userName.length" mat-stroked-button color="warn" (click)="onClickRegister()" style="width: 200px">Register</button>
        </mat-card-actions>
      </mat-card>
</div>