.toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    height: 70px;
    background-color: black;
}

.mat-nav-list a.active {
    background: lightgray;
}

.sidenav {
    width: 300px;
    height: calc(100vh - 70px);
}

.sidenav-content {
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.list-icon {
    margin-right: 8px;
}

.mat-list-item {
    height: 22px;
    font-size: 18px;
}