<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <button type="button" mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
        </button>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">help_outline</mat-icon>
        </button>
        <button mat-icon-button routerLink="/user">
          <mat-icon>person_outline</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="push" role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='/cars' (click)="drawer.close()">Browse All Cars</a>
        <a mat-list-item routerLink='/rent-out' (click)="drawer.close()">Rent Out My Car</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>